Redirect 301 "/DIA%E2%96%B2MANIFESTO%20Ambient%20Generator.html" /diamanifesto_ambient-generator.html
Redirect 301 "/DIA%E2%96%B2MANIFESTO%20Daily%20Axiom.html" /diamanifesto_daily-axiom.html
Redirect 301 "/DIA%E2%96%B2MANIFESTO%20SYMBOLISM.html" /diamanifesto_symbolism.html
Redirect 301 "/DIA%E2%96%B2MANIFESTO.html" /diamanifesto.html
